body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #212121;
    background: #ffffff;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}