.action {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
        padding-top: 94px;
    }    
}

.action-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;    
}


// .action-list {
//     display: flex;
//     /* justify-content: space-between; */
// }

.action-item {
    width: 450px;

    /* height: 101px; */
    /* outline: 1px solid pink; */   

    &::before {
        display: block;
        content: "";
        height: 120px;
        margin-bottom: 30px;
        /* background-size: contain; */
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        border-radius: 4px;
    } 

    @include tablet {
        width: 330px
    }
    
    @include desktop {
        width: 270px;
    }
}

// .action-item {
//     margin-right: 30px;
//     width: 270px;
//     /* height: 101px; */
//     /* outline: 1px solid pink; */
//     &:last-child {
//         margin-right: 0px;
//     }
//     &::before {
//         display: block;
//         content: "";
//         height: 120px;
//         margin-bottom: 30px;
//         /* background-size: contain; */
//         background-repeat: no-repeat;
//         background-position: center;
//         background-color: #F5F4FA;
//         border-radius: 4px;
//     }
// }



.action-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--article-title-color);
    margin-bottom: 10px;
}

.action-text {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--article-action-section);
    max-width: 450px;
    // @include tablet {
    // max-width: 354px
    // }
}



.icon-antenna::before {
    background-image: url(../images/icon/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/icon/clock.svg)
}

.icon-diagram::before {
    background-image: url(../images/icon/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icon/astronaut.svg);
}