:root {
    --accent-color: #2196F3;
    --accent-bg-icon-color: #2196F3;
    --accent-text-icon-color: #ffffff;
    --accent-bg-button-color: #2196F3;
    --accent-text-color: #ffffff;
    --bg-footer-color: #2F303A;
    --bg-hero-section: #2F303A;
    --section-title-color: #212121;
    --hero-section-title-color: #fff;
    --article-title-color: #212121;
    --article-action-section: #757575;
    --article-colleagues-section: #757575;
    --article-products-section: #757575;
    --article-client-section: #212121;
    --bg-button-color: #F5F4FA;
}